<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.LikeIncreaseMapper" >
  <resultMap id="BaseResultMap" type="entity.LikeIncrease" >
    <id column="like_increase_id" property="likeIncreaseId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from like_increase
    where like_increase_id = #{likeIncreaseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.LikeIncrease" >
    insert into like_increase (like_increase_id)
    values (#{likeIncreaseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.LikeIncrease" >
    insert into like_increase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeIncreaseId != null" >
        like_increase_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeIncreaseId != null" >
        #{likeIncreaseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>